[Unit]
Description=A daemon to suspend the system when inactive
After=network.target

[Service]
ExecStart=/usr/local/bin/autosleep --config /etc/autosleep.d/autosleep.conf

[Install]
WantedBy=multi-user.target