[Unit]
Description=A daemon to suspend your server in case of inactivity
After=network.target

[Service]
ExecStart=/usr/bin/autosleep -c /etc/autosleep.d/autosleep.conf

[Install]
WantedBy=multi-user.target